
@{
    ViewData["Title"] = "Replays";
}

<h2>Maalikoosteet tähän mennessä</h2>

<table id="games">
    <thead>
        <tr>
            <td>Peli</td>
            <td>Linkki</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Venäjä - Ranska</td>
            <td><a href="#" onclick='openNewWindow("https://www.youtube.com/watch?v=6fZhCfIYbaw")'>Katso</a></td>
        </tr>
        <tr>
            <td>USA - Kanada</td>
            <td><a href="#" onclick='openNewWindow("https://www.youtube.com/watch?v=UvAdLY8x_0I")'>Katso</a></td>
        </tr>
        <tr>
            <td>Ruosi - Valkovenäjä</td>
            <td><a href="#" onclick='openNewWindow("https://www.youtube.com/watch?v=qH69tNkNV9E")'>Katso</a> </td>
        </tr>
        <tr>
            <td>Saksa - Tanska</td>
            <td><a href="#" onclick='openNewWindow("https://www.youtube.com/watch?v=Ao39NOeOngk")'>Katso</a></td>
        </tr>
        <tr>
            <td>Sveitsi - Itävalta</td>
            <td><a href="#" onclick='openNewWindow("https://www.youtube.com/watch?v=745Y4BhswKA")'>Katso</a></td>
        </tr>
    </tbody>
</table>


                                                                       



